<div class="row site-map hidden">
    <div class="col-sm-12">
        <h3>Pages:</h3>
        <ul>
            <li><a href="#"><strong>SITE</strong></a></li>
            <ul>
                <li><a href="https://www.vamaship.net/site/about">ABOUT US</a></li>
                <li><a href="https://www.vamaship.net/site/contact">CONTACT US</a></li>
                <li><a href="https://www.vamaship.net/site/terms-of-use">TERMS OF USE</a></li>
                <li><a href="https://www.vamaship.net/site/privacy-policy">PRIVACY POLICY</a></li>
                <li><a href="https://www.vamaship.net/site/frequently-asked-questions">FAQ</a></li>
            </ul>
            <li><a href="#"><strong>OUR SERVICES</strong></a></li>
            <ul>
                <li><a href="#">Subpage 1</a></li>
                <li><a href="#">Subpage 2</a></li>
                <li><a href="#">Subpage 3</a></li><li><a href="#">Subpage 4</a></li>
            </ul>
            <li><a href="#"><strong>Portfolio</strong></a></li>
            <ul><li><a href="#">Subpage 1</a></li><li><a href="#">Subpage 2</a></li></ul>
            <li><a href="#"><strong>Contact</strong></a></li>
        </ul>   
    </div>
</div>

<div class="site-map hidden">
  <div class="heading">
      <h3>Follow Us</h3>
  </div> 
  <div class="row">
      <div class="col-sm-4 social-buttons">
                                          <a class="btn btn-block btn-social btn-adn">
                  <i class="fa fa-adn"></i> Sign in with adn
              </a>
                                          <a class="btn btn-block btn-social btn-bitbucket">
                  <i class="fa fa-bitbucket"></i> Sign in with bitbucket
              </a>
                                          <a class="btn btn-block btn-social btn-dropbox">
                  <i class="fa fa-dropbox"></i> Sign in with dropbox
              </a>
                                          <a class="btn btn-block btn-social btn-facebook">
                  <i class="fa fa-facebook"></i> Sign in with facebook
              </a>
                                          <a class="btn btn-block btn-social btn-flickr">
                  <i class="fa fa-flickr"></i> Sign in with flickr
              </a>
                                          <a class="btn btn-block btn-social btn-foursquare">
                  <i class="fa fa-foursquare"></i> Sign in with foursquare
              </a>
                                          <a class="btn btn-block btn-social btn-github">
                  <i class="fa fa-github"></i> Sign in with github
              </a>
                                          <a class="btn btn-block btn-social btn-google">
                  <i class="fa fa-google"></i> Sign in with google
              </a>
                                          <a class="btn btn-block btn-social btn-instagram">
                  <i class="fa fa-instagram"></i> Sign in with instagram
              </a>
                                          <a class="btn btn-block btn-social btn-linkedin">
                  <i class="fa fa-linkedin"></i> Sign in with linkedin
              </a>
                                          <a class="btn btn-block btn-social btn-microsoft">
                  <i class="fa fa-microsoft"></i> Sign in with microsoft
              </a>
                                          <a class="btn btn-block btn-social btn-odnoklassniki">
                  <i class="fa fa-odnoklassniki"></i> Sign in with odnoklassniki
              </a>
                                          <a class="btn btn-block btn-social btn-openid">
                  <i class="fa fa-openid"></i> Sign in with openid
              </a>
                                          <a class="btn btn-block btn-social btn-pinterest">
                  <i class="fa fa-pinterest"></i> Sign in with pinterest
              </a>
                                          <a class="btn btn-block btn-social btn-reddit">
                  <i class="fa fa-reddit"></i> Sign in with reddit
              </a>
                                          <a class="btn btn-block btn-social btn-soundcloud">
                  <i class="fa fa-soundcloud"></i> Sign in with soundcloud
              </a>
                                          <a class="btn btn-block btn-social btn-tumblr">
                  <i class="fa fa-tumblr"></i> Sign in with tumblr
              </a>
                                          <a class="btn btn-block btn-social btn-twitter">
                  <i class="fa fa-twitter"></i> Sign in with twitter
              </a>
                                          <a class="btn btn-block btn-social btn-vimeo">
                  <i class="fa fa-vimeo"></i> Sign in with vimeo
              </a>
                                          <a class="btn btn-block btn-social btn-vk">
                  <i class="fa fa-vk"></i> Sign in with vk
              </a>
                                          <a class="btn btn-block btn-social btn-yahoo">
                  <i class="fa fa-yahoo"></i> Sign in with yahoo
              </a>
                                  </div>
  </div>
   <div class="row">
      <div class="col-sm-4">
          <button class="uk-button uk-button-primary tm-button-primary" data-uk-modal="{target:'#advertise-with-us'}">Advertise with us</button>
      </div>
  </div>                    
</div>
<div class="text-center">
  <quote class="text-muted text-center">© 2017 vamaship.com All Rights Reserved.</quote>
</div>