<div class="row">
  <div class="col-sm-4">
    <img class="responsive logo img-circle" src="https://image.freepik.com/free-vector/logo-with-abstract-human-avatars_1025-92.jpg">
  </div>    
  <div class="col-sm-4"></div>    
  <div class="col-sm-4"></div>    
</div>
<menu id="wrapper" class="hidden">
  <ul class="nav flex-column nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Personal</a>
      <ul class="nav flex-column nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#">Credit Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Debit Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bank Account</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Accounting</a>
    </li>
  </ul>
</menu>