{
  database : {
    host : 'localhost',
    port : 3306,
    name : 'test',
    user : 'root',
    password : null
  },
  stmp : {
    host : 'smtp.domain',
    name : 465,
    encryption : null,
    user : 'emai@domain',
    password : 'test'
  }
}